.center-image {
    margin-left: auto;
    margin-right: auto;
  }
  
  #typed {
    color: #EDB83D
  }
  
.hide-picture {
  transform: translateX(-150%);
}

  .show-picture {
    transform: translateX( 0%);
    transition: all 1s ease;
  } 